<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                            http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>MainFilter</filter-name>
        <filter-class>filters.MainFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MainFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>controllers.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryAdminController</servlet-name>
        <servlet-class>controllers.AddCategoryAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDiscountAdminController</servlet-name>
        <servlet-class>controllers.AddDiscountAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToAddProductAdminController</servlet-name>
        <servlet-class>controllers.ToAddProductAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductAdminController</servlet-name>
        <servlet-class>controllers.AddProductAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToUpdateProductAdminController</servlet-name>
        <servlet-class>controllers.ToUpdateProductAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageAdminController</servlet-name>
        <servlet-class>controllers.UploadImageAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductsAdminController</servlet-name>
        <servlet-class>controllers.GetProductsAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDiscountsAdminController</servlet-name>
        <servlet-class>controllers.GetDiscountsAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusAdminController</servlet-name>
        <servlet-class>controllers.ChangeStatusAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductAdminController</servlet-name>
        <servlet-class>controllers.UpdateProductAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategoryJsonController</servlet-name>
        <servlet-class>controllers.GetCategoryJsonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductsController</servlet-name>
        <servlet-class>controllers.GetProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCardUserController</servlet-name>
        <servlet-class>controllers.AddToCardUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToCartUserController</servlet-name>
        <servlet-class>controllers.ToCartUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartItemUserController</servlet-name>
        <servlet-class>controllers.RemoveCartItemUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartItemUserController</servlet-name>
        <servlet-class>controllers.UpdateCartItemUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitCartUserController</servlet-name>
        <servlet-class>controllers.SubmitCartUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToProductDetailController</servlet-name>
        <servlet-class>controllers.ToProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetHistoryUserController</servlet-name>
        <servlet-class>controllers.GetHistoryUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDiscountInforUserController</servlet-name>
        <servlet-class>controllers.GetDiscountInforUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutPaypalUserController</servlet-name>
        <servlet-class>controllers.CheckoutPaypalUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewPaypalUserController</servlet-name>
        <servlet-class>controllers.ReviewPaypalUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryAdminController</servlet-name>
        <url-pattern>/AddCategoryAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDiscountAdminController</servlet-name>
        <url-pattern>/AddDiscountAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToAddProductAdminController</servlet-name>
        <url-pattern>/ToAddProductAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductAdminController</servlet-name>
        <url-pattern>/AddProductAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToUpdateProductAdminController</servlet-name>
        <url-pattern>/ToUpdateProductAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageAdminController</servlet-name>
        <url-pattern>/UploadImageAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductsAdminController</servlet-name>
        <url-pattern>/GetProductsAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDiscountsAdminController</servlet-name>
        <url-pattern>/GetDiscountsAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusAdminController</servlet-name>
        <url-pattern>/ChangeStatusAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductAdminController</servlet-name>
        <url-pattern>/UpdateProductAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategoryJsonController</servlet-name>
        <url-pattern>/GetCategoryJsonController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductsController</servlet-name>
        <url-pattern>/GetProductsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCardUserController</servlet-name>
        <url-pattern>/AddToCardUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToCartUserController</servlet-name>
        <url-pattern>/ToCartUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartItemUserController</servlet-name>
        <url-pattern>/RemoveCartItemUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartItemUserController</servlet-name>
        <url-pattern>/UpdateCartItemUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitCartUserController</servlet-name>
        <url-pattern>/SubmitCartUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToProductDetailController</servlet-name>
        <url-pattern>/ToProductDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHistoryUserController</servlet-name>
        <url-pattern>/GetHistoryUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDiscountInforUserController</servlet-name>
        <url-pattern>/GetDiscountInforUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutPaypalUserController</servlet-name>
        <url-pattern>/CheckoutPaypalUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewPaypalUserController</servlet-name>
        <url-pattern>/ReviewPaypalUserController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>50</session-timeout>
    </session-config>
</web-app>
